[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "4.46.2"
flask = "3.0.3"
torch = "2.5.1"
linkeds = "1.0.0"
spacy = "3.8.2"
stanza = "1.9.2"

[dev-packages]
pytest = "8.3.3"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"

[scripts]
start = "set PYTHONPATH=src && python -m visualization.server"
test = "pytest"
install = "python install_spacy.py"
